.user {
  padding-top: 14px;

  &__inner {
    display: flex;
    justify-content: flex-end;
    position: relative;
    padding-left: 86px;
  }

  &__avatar {
    position: absolute;
    left: 0px;
    top: -5px;

    img {
      border-radius: 50%;
      width: 124px;
      height: 124px;
      cursor: pointer;
    }
  }

  &__about h1 {
    font-weight: bold;
    font-size: 16px;
    padding-left: 45px;
    margin-bottom: 3px;
  }

  &__about p {
    padding-left: 44px;
    color: #808080;
    font-size: 12px;
    margin-bottom: 6px;
  }

  &__about-desc {
    color: #808080;
    font-size: 12px;
    padding: 10px 14px 11px 44px;
    max-width: 100%;
    border-radius: 5px;
    background: #fffbc8;
    border: 1px solid #dadada;
  }

  &__about-desc span {
    font-size: 14px;
    color: #333333;
  }
}

@media (max-width: 600px) {
  .about {
    padding-top: 18px;

    &__about-desc {
      padding: 7px 10px 6px 28px;
    }

    &__avatar img {
      border-radius: 50%;
      width: 107px;
      height: 101px;
      cursor: pointer;
    }

    &__about-desc span {
      font-size: 11px;
    }

    &__about h1 {
      font-size: 13px;
      padding-left: 30px;
      margin-bottom: 0px;
    }

    &__about p {
      padding-left: 30px;
      font-size: 9px;
      margin-bottom: 3px;
    }

    &__avatar {
      left: 0px;
      top: -10px;
    }
  }
}

@media (max-width: 480px) {
  .about {
    padding-top: 16px;

    &__inner {
      padding-left: 80px;
    }

    &__about-desc {
      padding: 6px 8px 5px 28px;
    }

    &__avatar img {
      width: 100px;
      height: 95px;
    }

    &__about-desc span {
      font-size: 9px;
    }

    &__about h1 {
      font-size: 13px;
      padding-left: 26px;
      margin-bottom: 0px;
    }

    &__about p {
      padding-left: 26px;
      font-size: 7px;
      margin-bottom: 2px;
    }

    &__avatar {
      left: 0px;
      top: -10px;
    }
  }
}

@media (max-width: 375px) {
  .about {
    padding-top: 16px;

    &__inner {
      padding-left: 56px;
    }

    &__about-desc {
      padding: 1px 8px 1px 29px;
    }

    &__avatar img {
      width: 75px;
      height: 70px;
    }

    &__about-desc span {
      font-size: 7px;
    }

    &__about h1 {
      font-size: 13px;
      padding-left: 26px;
      margin-bottom: 0;
    }

    &_avatar {
      left: 0;
      top: 3px;
    }
  }
}
