.progress {
  padding-top: 15px;
  padding-bottom: 21px;

  &__inner {
    padding-left: 110px;
  }

  &__header {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #dadada;
    margin-bottom: 13px;
    padding-bottom: 7px;

    span {
      margin-right: 38px;
      color: #333333;
      font-size: 13px;
    }
  }

  &__list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  &__text {
    padding-left: 10px;
    font-size: 13px;
  }

  &__count {
    margin-right: 40px;
    font-weight: bold;
    font-size: 13px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
    padding: 7px 40px 0px 0px;
    border-top: 1px solid #dadada;

    span {
      font-size: 16px;
      font-weight: bold;
    }
  }
}

.progress__container {
  position: relative;
  width: 100%;
}

.progress__bar {
  position: absolute;
  height: 24px;
  z-index: -1;
  top: -2px;
}

@media (max-width: 600px) {
  .progress {
    padding-top: 13px;
    padding-bottom: 17px;

    &__inner {
      padding-left: 50px;
    }

    &__header span {
      font-size: 12px;
    }

    &__footer span {
      font-size: 14px;
    }

    span {
      padding-left: 9px;
      font-size: 11px;
    }
  }
}

@media (max-width: 480px) {
  .progress {
    padding-top: 11px;
    padding-bottom: 14px;

    &__inner {
      padding-left: 0;
    }

    &__header span {
      font-size: 10px;
    }

    &__footer span {
      font-size: 11px;
    }

    span {
      padding-left: 11px;
      font-size: 10px;
    }
  }
}

@media (max-width: 375px) {
  .progress {
    padding-top: 9px;
    padding-bottom: 10px;

    &__inner {
      padding-left: 0;
    }
    span {
      padding-left: 10px;
    }
  }
}
